<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='logo1.ico')}}">
</head>

<body>
    <div class="navbar">
        <img src="{{url_for('static',filename='logo1.png')}}" class="logo">
        <p class="name"><span class="ups">Video Essence</span> </p>
    </div>
    <div class="split left">

        <h1 style='font-size:50px; margin-top:175px; color: #3a0363'>Here's what we got from you!!</h1>
        <div class="centered eg">
            <iframe width="620" height="400" src={{video}} style="border-radius:25px; margin-left:100px"></iframe>
        </div>
        <div class="centered">
        </div>
    </div>

    <div class="split right">

        <h1 style='margin-left:100px; color: #3a0363'>Summarized</h1>
        <h2 style='margin-left:100px; color: #3a0363'>Transcript</h2>
        <div class="centered">
            <textarea class="box" id="outputText" rows=12 cols=50 wrap=on readonly>{{ans}}</textarea>
        </div>
    </div>
</body>

</html>
